<!doctype html>
<html>
  <head>
    <style>
      {{ default_css|safe }}
      {{ css|safe }}
    </style>
  </head>

  <body>
    <div class="header">
      <a href="/" class="logo">Project codename "The Durka"</a>
      <div class="header-right">
        <a href="/">Home</a>
      </div>
    </div>

    <p>
    <div class="body">
    <h1>Please enter query:</h1>

    {% if error %}
      <h2>{{ error }}</h2>

      <p>{{ errormsg }}</p>

      {{ query|safe }}
    {% endif %}

    <form action="/custom_query" method="POST">
      <textarea rows="3" cols="50" name="query"></textarea>
      <div class="links1"><div class="links">
        <input type="submit" value="Submit?">
        <a href="/">Back?</a>
      </div></div>
    </form>
    </div>
  </body>
</html>
