<!doctype html>
<html>
  <head>
    <style>
      {{ default_css }}
      {{ css }}
    </style>
  </head>

  <body>
    <div class="header">
      <a href="/" class="logo">Project codename "The Durka"</a>
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="#about">About</a>
      </div>
    </div>

    <p>

    <div class="body">
      <div class="links1"><div class="links">
        {% for k, v in buttons.items() %}
          <a href="{{ v }}">{{ k }}</a>
        {% endfor %}
      </div></div>

      <h2 id="about">About</h2>
      <p>This is our hospital system which is connected to db.</p>
    </div>
  </body>
</html>
