<!doctype html>
<html>
  <head>
    <style>
      {{ css }}
    </style>
  </head>

  <body>
    <h1>{{ name }}</h1>

    {% if error %}
      <h2>{{ error }}</h2>

      <p>{{ errormsg }}</p>

      {{ query|safe }}
    {% endif %}

    <form action="/query/{{ name }}" method="POST">
      {% for a in args %}
        {% if not a.startswith("__") %}
          <p>{{ a }}: <textarea rows="1" cols="50" name="{{ a }}"></textarea>
        {% endif %}
      {% endfor %}
      <input type="submit" value="Submit?">
    </form>
  </body>
</html>
