<!doctype html>
<html>
  <head>
    <style>
      {{ css }}
    </style>
  </head>

  <body>
    <h1>{{ name }}</h1>

    {% if error %}
      <h2>{{ error }}</h2>

      <p>{{ errormsg }}</p>

      {{ query|safe }}
    {% endif %}

    <form action="/query/{{ url }}" method="POST">
    <table border = 1>
      {% for a in args %}
        {% if not a.startswith("__") %}
          <tr>
            <th>{{ a }}</th>
            <th><textarea rows="1" cols="50" name="{{ a }}"></textarea></th>
          </tr>
        {% endif %}
      {% endfor %}
      <input type="submit" value="Submit?">
    </table>
    </form>
  </body>
</html>
